@import 'fonts';
@import 'buttons';

// Layout
html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    overflow-y: visible;
    position: relative;
    height: unset;

    a {
        text-decoration: none;
    }
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.container {
    --bs-gutter-x: 40px;
}

.container-xxl {
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.width-container-xxl .container {
    max-width: calc(100% - 80px) !important;

    @media screen and (max-width: 768px) {
        max-width: 100% !important;
    }
}

.width-container-full .container {
    max-width: 100% !important;
    padding: 0 !important;

    @media screen and (max-width: 768px) {
        max-width: 100% !important;
    }
}


// Sections

.section-inner {
    padding: 120px 0;

    &.section-sections-hero {
        background-size: 102%;
        background-repeat: no-repeat;
        padding: 0;
        background-position: 50%;

        @media screen and (max-width: 768px) {
            background-size: cover;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 50px 0;

    }
}

// colors & fonts

.text-dark,
.text-dark p {
    color: #000 !important;
}

.text-light,
.text-light p {
    color: #fff !important;
}

h1 {
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'ss02' on;
    font-family: "PP Neue Montreal";
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;

    @media screen and (max-width: 1024px) {
        font-size: 60px;
        line-height: 70px;
    }
    @media screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 40px;
    }
}

h2 {
    color: var(--white, #FFF);
    font-family: "PP Neue Montreal";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    /* 116.667% */
    letter-spacing: 0.6px;

    @media screen and (max-width: 768px) {
        font-size: 35px;
        line-height: 35px;
    }
}

.h2-capability h2 {
    color: var(--Negre, #000) !important;
    font-family: "PP Neue Montreal";
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 120% !important;
    /* 48px */
    letter-spacing: 0.4px !important;
}

.h2-capability h3 {
    color: var(--Negre, #000) !important;
    font-family: "PP Neue Montreal" !important;
    font-size: 26px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 120% !important;
    /* 31.2px */
    letter-spacing: 0.26px !important;
}

h3,
h3 a {
    color: var(--blanc, #FFF);
    font-family: "PP Neue Montreal";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 126.667% */
    letter-spacing: 0.3px;
    text-decoration: none;

    @media screen and (max-width: 768px) {
        font-size: 25px;
        line-height: 25px;
    }
}

p {
    color: var(--negre, #000);
    font-family: "PP Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    letter-spacing: 0.36px;

    .bold {
        font-weight: 600;
    }
    .italic {
  font-style: italic;
}

    @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 24px;
    }
}

.article-details {

    margin-bottom: 3rem;

    p {
        color: var(--Negre, #000);
        font-family: "PP Neue Montreal";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 27px */
        letter-spacing: 0.18px;
        margin-bottom: 0;

        span {
            &.bold {
                margin-bottom: 16px;
            }
        }
    }

    p .bold {
        color: #898989;
        font-family: "PP Neue Montreal";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 27px */
        letter-spacing: 0.18px;
    }

    hr {
        color: #898989;
    }
}

.paragraph h4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

// body.page-type-article .section-sections-hero.section-inner-index-0 {
//     max-height: 700px
// }

// body.page-type-article .section-sections-hero.section-inner-index-0 .first-hero {
//     max-height: 700px
// }

// body.page-type-article .section-sections-hero.section-inner-index-0 .first-hero .section-hero-inner {
//     max-height: 700px
// }

body.page-type-service .section-sections-hero.section-inner-index-0 {
    min-height: 650px;
    background-image: none !important;
    @media screen and (max-width: 768px) {        
        height: auto!important;
        padding-bottom: 30px;
        
    }
}

body.page-type-service .section-sections-hero.section-inner-index-0 .section-hero-inner {
    min-height: 650px;
    @media screen and (max-width: 768px) {
        min-height: auto!important;
    }
}

body.page-type-service .section-sections-hero.section-inner-index-0 .section-hero-inner-image {
    min-height: 100%;
}

body.page-slug-home .section-sections-hero.section-inner-index-0 {
    @media screen and (max-width: 1024px) {
        // 4 / 5 ratio aprox
        height: calc(100vw / 0.8)!important;

        .section-hero-inner {
            height: calc(100vw / 0.8)!important;
            padding-bottom: 200px;
        }
    }

    @media screen and (max-width: 768px) {
        // 4 / 5 ratio aprox
        height: calc(100vw / 0.8)!important;

        .section-hero-inner {
            height: calc(100vw / 0.8)!important;
            padding-bottom: 100px;
        }
    }
}

body:not(.page-slug-home) {

    h1 {
        font-variant-numeric: lining-nums tabular-nums;
        font-feature-settings: 'ss02' on;
        font-family: "PP Neue Montreal";
        font-size: 70px;
        font-style: normal;
        font-weight: 500;
        line-height: 70px;
        letter-spacing: 0.7px;

        @media screen and (max-width: 768px) {
            font-size: 45px;
            line-height: 45px;
        }
    }

    &.page-type-bio {

        h1 {
            color: var(--Negre, #000);
            font-size: 60px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            /* 66px */
            letter-spacing: 0.6px;
            @media screen and (max-width: 768px) {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }

    h2 {
        color: var(--white, #FFF);
        font-family: "PP Neue Montreal";
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 116.667% */
        letter-spacing: 0.6px;

        @media screen and (max-width: 768px) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    h3,
    h3 a {
        color: var(--blanc, #FFF);
        font-family: "PP Neue Montreal";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        /* 126.667% */
        letter-spacing: 0.3px;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .text-dark {

        h1 a,
        h2 a,
        h3 a {
            color: #000 !important;
        }
    }
}

.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark p {
    color: #000 !important;
}

.h1-with-arrow-down {
    h1 {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.h2-with-arrow-down {
    h2 {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.h2-mb-2 {
    h2 {
        margin-bottom: 0.5rem !important;
    }
}

.h3-with-arrow-down {

    h3,
    h3 a {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.p-with-arrow-down {
    p {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.section-columns {
    h1 {
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 40px;
    }

    h3 {
        margin-bottom: 30px;
    }

    img {
        width: 100%;

        // @media screen and (max-width: 768px) {
        //     margin-bottom: 1rem;
        // }
    }
}

.media-border-radius img,
.media-border-radius iframe {
    border-radius: 20px;
}


.w-100 {
    width: 100%;
}


.clickable {
    cursor: none !important;
}

.text-light a.zone-color,
.text-light .zone-color,
.text-light.zone-color {
    color: #fff !important;

    &.zone-color-stroke>* {
        stroke: #fff;
    }

    &.color-text-dark {
        color: #000 !important;
        &.zone-color-stroke>* {
            stroke: #000;
        }

        @media screen and (max-width: 768px) {
            color: #fff !important;
            &.zone-color-stroke>* {
                stroke: #fff;
            }   
        }
    }
    &.color-text-light {
        @media screen and (max-width: 768px) {
            color: #000 !important;
            &.zone-color-stroke>* {
                stroke: #000;
            }   
        }
    }
}

.menu-open .zone-color-stroke>* {
    stroke: #000 !important;
}

.text-dark a.zone-color,
.text-dark.zone-color {
    color: #000 !important;

    &.zone-color-stroke>* {
        stroke: #000;
    }

    &.color-text-light {
        color: #fff !important;

        &.zone-color-stroke>* {
            stroke: #fff;
        }
        @media screen and (max-width: 768px) {
        color: #000 !important;

        &.zone-color-stroke>* {
            stroke: #000;
        }
    }
    }
     
}

.zone-color.text-dark.color-text-dark,
.zone-color a.color-text-dark {
    color: #000 !important;

    &.zone-color-stroke>* {
        stroke: #000;
    }
    @media screen and (max-width: 768px) {
        color: #fff !important;

        &.zone-color-stroke>* {
            stroke: #fff;
        }
        
    }
}




.color-text-light,
a.color-text-light {
    color: #fff !important;

    &.zone-color-stroke>* {
        stroke: #fff;
    }
}

.bg-cover {
    background-size: cover !important;
}

.bg-no-repeat {
    background-repeat: no-repeat !important;
}

.bg-scroller {
    // transform: translateY(0)!important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.section-sections-scroller {
    background-size: 50% !important;
    background-repeat: repeat !important;
    // background-attachment: fixed!important;
}

.background-attachment-fixed {
    background-attachment: fixed !important;
}

// section blog

.section-blog {

    // .row{
    //     overflow: hidden; 
    // }

    // [class*="col-"]{
    //     margin-bottom: -99999px;
    //     padding-bottom: 99999px;
    // }

    .blog-item {
        background: #fff;
        border-radius: 20px;

        .media {
            border-radius: 20px 0 0 20px;
            height: 442px;
            width: 100%;
        }

        .info {
            padding: 70px 50px;

            @media screen and (max-width: 768px) {
                padding: 30px;
            }

            h3 {
                a {
                    text-decoration: none !important;
                }
            }
        }

        &.blog-onethird {
            .media {
                height: 246px;
                border-radius: 20px 20px 0 0;
            }

            .info {
                padding: 30px;

            }
        }

        &.blog-twothirds {
            .media {
                height: 246px;
                border-radius: 20px 20px 0 0;
            }

            .info {
                padding: 30px;
            }
        }
    }


}

.blog-black {
    .blog-item {
        background: #1C1B1F;
        border-radius: 5px;
        overflow: hidden;

        .info {
            padding: 70px 50px;

            @media screen and (max-width: 768px) {
                padding: 30px;
            }

            h3 {
                a {
                    color: var(--Blanc, #FFF);
                    font-variant-numeric: lining-nums tabular-nums;
                    font-family: "PP Neue Montreal";
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    /* 36px */
                    letter-spacing: 0.3px;
                    color: #fff !important;
                    text-decoration: none !important;
                }
            }
        }

        .media {
            border-radius: 5px 0 0 5px !important;
            transition: transform 0.3s ease-in-out;


            &:hover {
                transform: scale(1.03);
            }
        }

        &.blog-onethird {
            .media {
                border-radius: 5px 5px 0 0 !important;
            }
        }

        .meta-short {
            color: #898989;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "PP Neue Montreal";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 30px */
            letter-spacing: 0.25px;
        }

        .meta-short-normal {
            color: #898989;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "PP Neue Montreal";
            font-size: 18.75px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 22.5px */
            letter-spacing: 0.188px;
        }

    }
}

.blog-item {
    .media {
        object-fit: cover;
    }

    h3,
    h3 a {
        font-size: 25px !important;
        line-height: 32px !important;
    }
}

.image-at-150 .media .img {
    max-width: 125%;
    width: 125%;
    margin-top: -25%;
    margin-left: -30%;
    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        
    }
}

.carousel-blog-item {
    background-color: #FFF;
    border-radius: 20px;
    overflow: hidden;

    img {
        border-radius: 20px 20px 0 0;
        height: 246px;
        object-fit: cover;
        width: 100%;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }
    }

    .info {
        padding: 30px;
    }

    h3,
    h3 a {
        font-size: 25px !important;
        line-height: 32px !important;
    }
}

.blog-twofifths {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;

    .carousel-blog-item-services {
        background: transparent;
        padding-bottom: 2rem;
        padding-right: 3rem;
        padding-left: 3rem;


        h3,
        h3 a {
            color: var(--negre, #000);
            font-family: "PP Neue Montreal";
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.875rem;
            /* 120% */
            letter-spacing: 0.01563rem;
        }

    }

    .circle-bottom {
        position: absolute;
        right: -11px;
        bottom: -11px;
    }
}

.img-wb-filter {
    img {
        filter: saturate(0%);
        backface-visibility: hidden;
    }
}

.img-height-100 img {
    height: 100px;
}

.img-height-75 img {
    height: 75px;
}

.img-height-50 img {
    height: 50px;
}

.columns-with-text-slider .col-view {
    position: absolute;
    padding: 75px;

    @media screen and (max-width: 768px) {
        padding: 30px;

        
    }

    

    h2,
    h3 {
        font-size: 1.875rem !important;
        font-style: normal;
        font-weight: 500 !important;

        @media screen and (max-width: 768px) {
            font-size: 1.2rem !important;
        }
    }
}

.columns-with-text-slider .text-slider {
    position: absolute;
    padding: 25%;
    text-align: center;

    @media screen and (max-width: 768px) {
        padding: 80px 20px;
        h1 {
            font-size: 25px!important;
            line-height: 25px!important;        
            margin-bottom: 0;
        }
    }
}

// .columns-with-text-slider .text-slider:nth-child(4) {
//     display: none;
// }
// .columns-with-text-slider .text-slider:nth-child(5) {
//     display: none;
// }
// .columns-with-text-slider .text-slider:nth-child(6) {
//     display: none;
// }


img.active-image {

    width: 273px;
    height: 178px;

    border-radius: 20px;
    pointer-events: none;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.zpage-type-scope .main-content {
    @media screen and (min-width: 769px) {
        padding-top: 150px;
    }

    @media screen and (max-width: 768px) {
        .section:first-child {
            .section-inner {
                height: 100vh !important;
                background-position-y: 60vh;
            }
        }
    }

    .first-hero {
        background: linear-gradient(to right, #fff 50%, #fff0 50%);
    }

    .section-sections-columns:not(.h3-normal) {
        h3 {
            color: var(--negre, #000);
            font-family: "PP Neue Montreal";
            font-size: 33px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 39.6px */
            letter-spacing: 0.33px;
            margin-bottom: 60px !important;

            cite {
                color: var(--Negre, #000);
                font-size: 35px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                /* 42px */
                letter-spacing: 0;
            }
        }
    }
}

.page-type-resource .main-content {


    .section-sections-columns:not(.h3-normal) {
        h3 {
            color: var(--negre, #000);
            font-family: "PP Neue Montreal";
            font-size: 33px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 39.6px */
            letter-spacing: 0.33px;
            margin-bottom: 30px !important;
        }
    }
}

.page-type-scope .main-content,
.page-type-capability .main-content {

    .section-inner-index-0,
    .first-hero,
    .first-hero .section-hero-inner {
        min-height: 358px;
    }
}

.all-media-same-height {
    img {
        height: 380px;
        width: 100%;
        object-fit: cover;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px; 
        }
    }
}

.page-type-scope .section-inner-index-0 .section-inner-2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.page-type-article .main-content,
.page-type-capability .main-content,
.page-type-scope .main-content {
    .section-sections-columns:not(.h3-normal) {
        h2 {
            color: var(--Negre, #000);
            font-family: "PP Neue Montreal";
            font-size: 33px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 39.6px */
            letter-spacing: 0.33px;
        }

        h3 {
            color: var(--Negre, #000);
            font-family: "PP Neue Montreal";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            /* 31.2px */
            letter-spacing: 0.24px;

            cite {
                color: var(--Negre, #000);
                font-size: 35px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                /* 42px */
                letter-spacing: 0;
            }
        }
    }
}

.page-type-scope .main-content {
    h4 cite {
        color: var(--Negre, #000);
font-family: "Queens";
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 33.8px */
letter-spacing: 0.26px;
    }
}

.page-type-article .section-inner-index-0 {
    @media screen and (max-width: 768px) {
        background-image: none !important;

    }
}

.page-type-capability .section-inner-index-0 .section-inner-2 {
    background-color: rgba(0, 0, 0, 0.3);
}

// .page-type-capability .main-content .first-hero {

// }

.page-type-service {

    .main-content .first-hero {
        .scope-hero {
            padding-right: 50px;
        }
    }

    &.page-slug-avaluacio {
        .main-content .first-hero {
            background: linear-gradient(to right, #d9c05d 41%, #fff0 41%);
        }
    }

    &.page-slug-comunicacio-consultoria {
        .main-content .first-hero {
            background: linear-gradient(to right, #b06047 41%, #fff0 41%);
        }
    }

    &.page-slug-disseny {
        .main-content .first-hero {
            background: linear-gradient(to right, #9a5567 41%, #fff0 41%);
        }
    }

    &.page-slug-estrategia {
        .main-content .first-hero {
            background: linear-gradient(to right, #bbc4c3 41%, #fff0 41%);
        }
    }

    &.page-slug-facilitacio {
        .main-content .first-hero {
            background: linear-gradient(to right, #999b65 41%, #fff0 41%);
        }
    }

    &.page-slug-participacio {
        .main-content .first-hero {
            background: linear-gradient(to right, #6e5655 41%, #fff0 41%);
        }
    }

    &.page-slug-recerca {
        .main-content .first-hero {
            background: linear-gradient(to right, #b2896e 41%, #fff0 41%);
        }
    }

    /*
      .metacolor-0 {
    background: #d9c05d;
  }
  .metacolor-1 {
    background: #b06047;
  }
  .metacolor-2 {
    background: #9a5567;
  }
  .metacolor-3 {
    background: #bbc4c3;
  }
  .metacolor-4 {
    background: #999b65;
  }
  .metacolor-5 {
    background: #6e5655;
  }
  .metacolor-6 {
    background: #b2896e;
  }*/
}

// .page-type-article .main-content {

//     .section:first-child {
//         .section-hero-inner {
//             width: 50%;
//             padding-right: 100px;
//         }
//     }

//     @media screen and (max-width: 768px) {}
// }

a.bio-link .bio-title {
    text-decoration: none !important;
}

.orange-titles {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #F5825E !important;
    }
}

.hoverable .svg-hoverable {
    transition: transform 0.15s ease-in-out;
    transform: translateX(0px) translateY(0px);
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;

}

.hoverable:hover .svg-hoverable {
    transform: translateX(5px) translateY(-5px);
}

.on-ens-trobaras h1 {
    color: var(--negre, #000);
    font-family: "PP Neue Montreal";
    font-size: 30px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 38px !important;
    /* 126.667% */
    letter-spacing: 0.3px !important;
}

.on-ens-trobaras h3 {
    color: var(--negre, #000);
    font-family: "PP Neue Montreal";
    font-size: 30px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 38px !important;
    letter-spacing: 0.3px !important;
    margin-bottom: 0px !important;
}

.media-border-20 {

    img,
    iframe {
        border-radius: 20px;
    }
}

.media-with-overlay img {
    width: 100%;
  }

.mt-150-n {
    margin-top: -150px;
}