@import 'fonts';
@import 'buttons';

// Layout
html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    overflow-y: visible;
    position: relative;
    height: unset;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.container {
    --bs-gutter-x: 40px;
}

.container-xxl {
    max-width: calc(100% - 80px);

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.width-container-xxl .container {
    max-width: calc(100% - 80px) !important;

    @media screen and (max-width: 768px) {
        max-width: 100% !important;
    }
}


// Sections

.section-inner {
    padding: 120px 0;

    &.section-sections-hero {
        background-size: 102%;
        background-repeat: no-repeat;
        padding: 0;
        background-position: 50%;

        @media screen and (max-width: 768px) {
            background-size: cover;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 50px 0;

    }
}

// colors & fonts

.text-dark,
.text-dark p {
    color: #000 !important;
}

.text-light,
.text-light p {
    color: #fff !important;
}

h1 {
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'ss02' on;
    font-family: "PP Neue Montreal";
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;

    @media screen and (max-width: 768px) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2 {
    color: var(--white, #FFF);
    font-family: "PP Neue Montreal";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    /* 116.667% */
    letter-spacing: 0.6px;

    @media screen and (max-width: 768px) {
        font-size: 35px;
        line-height: 35px;
    }
}

h3,
h3 a {
    color: var(--blanc, #FFF);
    font-family: "PP Neue Montreal";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 126.667% */
    letter-spacing: 0.3px;
    text-decoration: none;

    @media screen and (max-width: 768px) {
        font-size: 25px;
        line-height: 25px;
    }
}

p {
    color: var(--negre, #000);
    font-family: "PP Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    letter-spacing: 0.36px;

    @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 24px;
    }
}

body:not(.page-slug-home) {

    h1 {
        font-variant-numeric: lining-nums tabular-nums;
        font-feature-settings: 'ss02' on;
        font-family: "PP Neue Montreal";
        font-size: 70px;
        font-style: normal;
        font-weight: 500;
        line-height: 70px;

        @media screen and (max-width: 768px) {
            font-size: 50px;
            line-height: 50px;
        }
    }

    h2 {
        color: var(--white, #FFF);
        font-family: "PP Neue Montreal";
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 116.667% */
        letter-spacing: 0.6px;

        @media screen and (max-width: 768px) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    h3,
    h3 a {
        color: var(--blanc, #FFF);
        font-family: "PP Neue Montreal";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        /* 126.667% */
        letter-spacing: 0.3px;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .text-dark {

        h1 a,
        h2 a,
        h3 a {
            color: #000 !important;
        }
    }
}

.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark p {
    color: #000 !important;
}

.h1-with-arrow-down {
    h1 {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.h2-with-arrow-down {
    h2 {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.h3-with-arrow-down {

    h3,
    h3 a {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.p-with-arrow-down {
    p {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_208_1874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='41'%3E%3Crect y='0.500244' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_208_1874)'%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M19.2948 8.8335V29.4713L9.3375 19.4927L8.33325 20.5002L19.9999 32.1668L31.6666 20.5002L30.6623 19.4927L20.705 29.4713V8.8335H19.2948Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center right;
        display: inline-block;
        padding-right: 50px;
    }
}

.section-columns {
    h1 {
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 40px;
    }

    h3 {
        margin-bottom: 30px;
    }

    img {
        width: 100%;

        @media screen and (max-width: 768px) {
            margin-bottom: 1rem;
        }
    }
}

.media-border-radius img,
.media-border-radius iframe {
    border-radius: 20px;
}


.w-100 {
    width: 100%;
}


.clickable {
    cursor: none !important;
}

.header-light a.zone-color,
.header-light .zone-color {
    color: #fff !important;

    &.zone-color-stroke>* {
        stroke: #fff;
    }

    &.color-text-dark {
        color: #000 !important;

        &.zone-color-stroke>* {
            stroke: #000;
        }
    }
}

.menu-open .zone-color-stroke>* {
    stroke: #000 !important;
}

.header-dark a.zone-color,
.header-dark .zone-color {
    color: #000 !important;

    &.zone-color-stroke>* {
        stroke: #000;
    }

    &.color-text-light {
        color: #fff !important;

        &.zone-color-stroke>* {
            stroke: #fff;
        }
    }
}

.zone-color.color-text-dark,
.zone-color a.color-text-dark {
    color: #000 !important;

    &.zone-color-stroke>* {
        stroke: #000;
    }
}




.color-text-light,
a.color-text-light {
    color: #fff !important;

    &.zone-color-stroke>* {
        stroke: #fff;
    }
}

.bg-cover {
    background-size: cover !important;
}

.bg-no-repeat {
    background-repeat: no-repeat !important;
}

.bg-scroller {
    // transform: translateY(0)!important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.section-sections-scroller {
    background-size: 50% !important;
    background-repeat: repeat !important;
    // background-attachment: fixed!important;
}

.background-attachment-fixed {
    background-attachment: fixed !important;
}

// section blog

.section-blog {

    // .row{
    //     overflow: hidden; 
    // }

    // [class*="col-"]{
    //     margin-bottom: -99999px;
    //     padding-bottom: 99999px;
    // }

    .blog-item {
        background: #fff;
        border-radius: 20px;

        .media {
            border-radius: 20px 0 0 20px;
            height: 442px;
            width: 100%;
        }

        .info {
            padding: 70px 50px;

            @media screen and (max-width: 768px) {
                padding: 30px;
            }

            h3 {
                a {
                    text-decoration: none !important;
                }
            }
        }

        &.blog-onethird {
            .media {
                height: 246px;
                border-radius: 20px 20px 0 0;
            }

            .info {
                padding: 30px;

            }
        }

        &.blog-twothirds {
            .media {
                height: 246px;
                border-radius: 20px 20px 0 0;
            }

            .info {
                padding: 30px;
            }
        }
    }
}

.blog-item {
    .media {
        object-fit: cover;
    }

    h3,
    h3 a {
        font-size: 25px !important;
        line-height: 32px !important;
    }
}

.carousel-blog-item {
    background-color: #FFF;
    border-radius: 20px;

    img {
        border-radius: 20px 20px 0 0;
        height: 246px;
        object-fit: cover;
        width: 100%;
    }

    .info {
        padding: 30px;
    }

    h3,
    h3 a {
        font-size: 25px !important;
        line-height: 32px !important;
    }
}

.blog-twofifths {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;

    .carousel-blog-item-services {
        background: transparent;
        padding-bottom: 2rem;
        padding-right: 3rem;
        padding-left: 3rem;


        h3,
        h3 a {
            color: var(--negre, #000);
            font-family: "PP Neue Montreal";
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.875rem;
            /* 120% */
            letter-spacing: 0.01563rem;
        }

    }

    .circle-bottom {
        position: absolute;
        right: -11px;
        bottom: -11px;
    }
}

.img-wb-filter {
    img {
        filter: saturate(0%);
        backface-visibility: hidden;
    }
}

.img-height-100 img {
    height: 100px;
}

.img-height-75 img {
    height: 75px;
}

.img-height-50 img {
    height: 50px;
}

.columns-with-text-slider .col-view {
    position: absolute;
    padding: 75px;

    @media screen and (max-width: 768px) {
        padding: 30px;
    }

    h2,
    h3 {
        font-size: 1.875rem !important;
        font-style: normal;
        font-weight: 500 !important;

        @media screen and (max-width: 768px) {
            font-size: 1.2rem !important;
        }
    }
}

.columns-with-text-slider .text-slider {
    position: absolute;
    padding: 25%;
    text-align: center;

    @media screen and (max-width: 768px) {
        padding: 80px 0px;
    }
}

// .columns-with-text-slider .text-slider:nth-child(4) {
//     display: none;
// }
// .columns-with-text-slider .text-slider:nth-child(5) {
//     display: none;
// }
// .columns-with-text-slider .text-slider:nth-child(6) {
//     display: none;
// }


img.active-image {
    max-width: fit-content;
    border-radius: 20px;
    pointer-events: none;

    @media screen and (max-width: 768px) {
        display: none;
    }
}