@font-face {
    font-family: "PP Neue Montreal";
    font-weight: bold;
    src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
    font-family: "PP Neue Montreal";
    font-weight: 700;
    src: url("/fonts/PPNeueMontreal-Bold.woff2") format("woff2"),
        url("/fonts/PPNeueMontreal-Bold.woff") format("woff"),
        url("/fonts/PPNeueMontreal-Bold.ttf") format("truetype"),
        url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
    font-family: "PP Neue Montreal";
    font-weight: 600;
    src: url("/fonts/PPNeueMontreal-SemiBold.woff2") format("woff2"),
        url("/fonts/PPNeueMontreal-SemiBold.woff") format("woff"),
        url("/fonts/PPNeueMontreal-SemiBold.ttf") format("truetype"),
        url("/fonts/PPNeueMontreal-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "PP Neue Montreal";
    font-weight: 500;
    src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('/fonts/PPNeueMontreal-Medium.woff') format('woff'),
        url('/fonts/PPNeueMontreal-Medium.ttf') format('truetype'),
        url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
    font-family: "PP Neue Montreal";
    font-weight: normal;
    src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('/fonts/PPNeueMontreal-Medium.woff') format('woff'),
        url('/fonts/PPNeueMontreal-Medium.ttf') format('truetype'),
        url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
    font-family: "PP Neue Montreal";
    font-weight: 400;
    src: url("/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
        url("/fonts/PPNeueMontreal-Book.woff") format("woff"),
        url("/fonts/PPNeueMontreal-Book.ttf") format("truetype"),
        url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
    font-family: "Queens";
    font-weight: 400;
    src: url('/fonts/Queens_W-Regular.woff2') format('woff2'),
        url("/fonts/Queens_W-Regular.woff") format("woff");
}

@font-face {
    font-family: "Queens";
    font-weight: 500;
    src: url('/fonts/Queens_W-Regular.woff2') format('woff2'),
        url("/fonts/Queens_W-Regular.woff") format("woff");
}



body {
    font-family: "PP Neue Montreal", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    cursor: none !important;

    a {
        cursor: none !important;

        &.menu-item {            
            text-decoration: none;
        }
    }

    cite {
        font-family: "Queens";
        font-style: normal;
    }
    .cite {
        * {
            font-family: "Queens";

            &.no-cite {
                font-family: "PP Neue Montreal";
            }
        }
        h3{
            font-family: "Queens"!important;
        }
    }
    .fw-500 {
        font-weight: 500;
    }
    .orange{
        color: #F5825E;        
    }
    .lh-min{
        line-height: 10px;
        display: block;
    }
}